{% extends "app/base.html" %}
{% block content %}
<div id="hero" class="d-flex align-items-center">
    <div class="container-fluid" data-aos="zoom-out" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row">
                    <div class="col-xl-5">
                        <h1>Bettter digital experience with Project String</h1>
                        <h2>Learn how to Play the Violin Well!</h2>
                        {% if not user.membership.member %}
                        <a href="#about" class="btn-get-started scrollto">Premium</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---->
<main id="main">
    <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">
            <div class="row no-gutters">
                <div class="content col-xl-5 d-flex align-items-stretch">
                    <div class="content">
                        <h3>Bojour !</h3>
                        <p>
                            If you’re looking for free violin lessons for beginners online, then you’ve come to the right place.
                        </p>
                        <a href="#" class="about-btn"><span>About us</span> <i class="bx bx-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-xl-7 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                <i class="bx bx-receipt"></i>
                                <h4>Best Methods</h4>
                                <p>We teaches you from best practice methods.</p>
                            </div>
                        
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Highly qualified teachers</h4>
                                <p>Learn from best teachers in India.</p>
                            </div>

                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                <i class="bx bx-images"></i>
                                <h4>Step-by-step lesson modules</h4>
                                <p> All music and resources provided. No need to buy books.</p>
                            </div>

                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                                <i class="bx bx-shield"></i>
                                <h4>Instant access to all content</h4>
                                <p>Private feedback channel</p>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}
